* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  overflow: auto;
}

h1 {
    font-size: 24px;
    color: #0063a3;
    font-weight: bold;
    margin-bottom: 20px;
}

a.button {
    padding: 1px 6px;
    border-radius: 3px;
    color: white;
    background-color: #0063a3;
    text-decoration: none;
}

.addbutton {
  width: 150px;
  margin-left: 10px;
  padding: 5px;
  background-color: #0063a3;
  color: white;
  border-radius: 7px;
}

.bluebutton {
  padding: 5px;
  background-color: #0063a3;
  color: white;
  border-radius: 7px;
}

.redbutton {
  padding: 5px;
  background-color: #e81010;
  color: white;
  border-radius: 7px;
}


nav {
  width: 250px;
  height: 100vh;
  background-color: #333;
  transition: all 0.3s;
  padding-top: 60px;

  &.min {
    width: 60px;

    span {
      opacity: 0;
    }
  }

  ul {
    color: white;

    a {
      display: flex;
      gap: 10px;
      padding: 10px 20px;
      color: white;
      text-decoration: none;
      &:hover {
        background-color: gray;
      }

      span {
        transition: opacity 0.3s ease-in-out;
      }

    }
  }
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.michael {
    position: relative;
    height: 100%;
    width: 100%;
}

.michael img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

header {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

article {
  padding: 20px;
}

@media (max-width: 768px) {
  header {
    padding-left: 55px;
  }
  nav {
    position: fixed;
    left: -250px;
    top: 0;
  }

  nav.active {
    left: 0;
  }
}

.message {
    letter-spacing: .011rem;
    word-break: break-word;
    margin: 0;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.765;
    color: #000;
    text-align: left;
    background-color: #fff;
}

.overview-container {
    position: relative;
    margin-left: 30%;
    width: 20%;
    padding: 10px;
    border: 3px solid black;
}

.overview-header {
  overflow-y: auto;
  height: 1000px;
}

.overview-header h1 {
    margin-left: 32%;
}

.detail-container {
    position: absolute;
    margin-top: 10%;
    margin-left: 20%;
    width: 40%;
    height: 60%;
    padding: 10px;
    border: 3px solid black;
}

.detail-container p {
  margin-left: 50px;
  margin-top: 5px;
}

.button-container {
    position: absolute;
    top: -35.5px;
    left: 0;
    display: flex;
    gap: 10px;
}

.button-container button {
    vertical-align: top;
    border: none;
    border-radius: 5px;
    background-color: white;
    height: 30px;

}

button.active {
    background-color: gray;
}

.details h1 {
  text-align: center;
}

.movie-image {
  position: relative;
  width: 50%;
  height: 50%; 
  object-fit: contain;
}

.detail-image{
  position: relative;
  width: 50%;
  height: 100%;
  object-fit: contain;
  float: right;
}
