<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} <!-- necessary to connect to CSS in django -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DVD Update</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!--Bootstrap-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

    <nav id="sidenav">
        <ul>
            <li><a href="{% url 'main' %}"><i class="fa fa-home"></i><span>Home</span></a></li>
            <li><a href="{% url 'overview' %}"><i class="fa-solid fa-compact-disc"></i><span>DVD Übersicht</span></a></li>
            <li><a href="{% url 'rooms' %}"><i class="fa-solid fa-address-card"></i><span>Räume</span></a></li>
        </ul>
    </nav>

    <main>
        <div id="msg" role="alert">
        {% include 'messages.html' %}
        </div>

        <script type="text/javascript">
            setTimeout(()=>{

                const msg = document.getElementById('msg')

                msg.style.display = 'none';

            },2000);
        </script>

        <header>
            <h1>Daten bearbeiten</h1>
        </header>

    <div class="container d-flex justify-content-center">
        <form method="post" action="{% url 'dvd_update' %}" enctype="multipart/form-data" class="w-50">
            {% csrf_token %}
            <div class="mb-3">
                <input type="hidden" class="form-control" id="movie_id" name="movie_id" value="{{movie.id}}">
            </div>
            <div class="mb-3">
                <label for="title">Titel</label>
                <input type="text" class="form-control" id="title" name="title" value="{{movie.title}}">
            </div>
            <div class="mb-3">
                <label for="year">Erscheinungsjahr</label>
                <input type="number" class="form-control" id="year" name="year" value="{{movie.year}}">
            </div>
            <div class="mb-3">
                <label for="genre">Genre</label>
                <select class="form-control" id="genre" name="genre">
                    <option value="{{movie.genre}}" selected hidden>{{movie.genre}}</option>
                    <option value="Abenteuer">Abenteuer</option>
                    <option value="Action">Action</option>
                    <option value="Animation">Animation</option>
                    <option value="Anime">Anime</option>
                    <option value="Doku">Doku</option>
                    <option value="Drama">Drama</option>
                    <option value="Fantasy">Fantasy</option>
                    <option value="Horror">Horror</option>
                    <option value="Komödie">Komödie</option>
                    <option value="Krimi">Krimi</option>
                    <option value="Liebesfilm">Liebesfilm</option>
                    <option value="Musik">Musik</option>
                    <option value="Musical">Musical</option>
                    <option value="Science-Fiction" >Science-Fiction</option>
                    <option value="Thriller">Thriller</option>
                    <option value="Western">Western</option>
                </select>
                </select>
            <div class="mb-3">
                <label for="description">Beschreibung</label>
                <textarea class="form-control" id="description" name="description" rows="5" cols="33">{{movie.description}}</textarea>
            </div>
            <div class="mb-3">
                <label for="director">Regisseur</label>
                <input type="text" class="form-control" id="director" name="director" value="{{movie.director}}">
            </div>
            <div class="mb-3">
                <label for="runtime">Laufzeit in Minuten</label>
                <input type="number" class="form-control" id="runtime" name="runtime" value="{{movie.runtime}}">
            </div>
            <div class="mb-3">
                <label for="type">Typ</label>
                <select class="form-control" id="type" name="type">
                    <option value="{{movie.type}}" selected hidden>{{movie.type}}</option>
                    <option value="DVD">DVD</option>
                    <option value="Blu-Ray">Blu-Ray</option>
                </select>
            </div>
            <div>
                <label for="viewed">Gesehen</label>
                <select class="form-control" id="viewed" name="viewed">
                    <option value="{{movie.viewed}}" selected hidden>{{movie.viewed}}</option>
                    <option value="Ja">Ja</option>
                    <option value="Nein">Nein</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="picture_description">Bild Beschreibung</label>
                <input type="text" class="form-control" id="picture_description" name="picture_description" value="{{movie.picture_description}}">
            </div>
            <div class="mb-3">
                <label for="picture">Dateipfad</label>
                <input type="file" class="form-control" id="picture" name="picture">
            </div>
            <button type="submit" class="btn btn-primary w-50">Änderungen Speichern</button>
        </form>
        <br>
        <br>
        <a href="{% url 'overview' %}" class="btn btn-primary btn-inline">Zurück zur Übersicht</span></a>
    </div> 
    

        
    </main>
    
</body>
</html>