<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} <!-- necessary to connect to CSS in django -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DVD Übersicht</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!--Bootstrap-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

    <nav id="sidenav">
        <ul>
            <li><a href="{% url 'main' %}"><i class="fa fa-home"></i><span>Home</span></a></li>
            <li><a href="{% url 'overview' %}"><i class="fa-solid fa-compact-disc"></i><span>DVD Übersicht</span></a></li>
            <li><a href="{% url 'rooms' %}"><i class="fa-solid fa-address-card"></i><span>Räume</span></a></li>
        </ul>
    </nav>

    <main>
        <div id="msg" role="alert">
        {% include 'messages.html' %}
        </div>

        <script type="text/javascript">
            setTimeout(()=>{

                const msg = document.getElementById('msg')

                msg.style.display = 'none';

            },2000);
        </script>
        <header>
            <h1>Film Übersicht</h1>
        </header>

        <br>

        <div class="overview-header"><h1>Gespeicherte Filme</h1>
        {% for movie in movies %}
        <div class="overview-container" id="overview-container">

            

            <p>Name: {{movie.title}}</p>
            <p>Erscheinungsjahr: {{movie.year}}</p>
            <p>Regisseur: {{movie.director}}</p>
            <p>Genre: {{movie.genre}}</p>
            <p>Typ: {{movie.type}}</p>
            <p>Laufzeit: {{movie.runtime}}</p>
            


            {% if movie.picture %}
            <img
            class="movie-image"
            src="{{ movie.picture.url }}"
            alt="{{ movie.picture_description }}"
            />
            {% endif %}

            <br>
            <br>
            <button class="bluebutton" onclick="parent.location='/overview'">Mehr Informationen</button>
            <button class="bluebutton" onclick="parent.location='/dvd/update/{{ movie.id }}'">Daten Bearbeiten</button>
            <button class="redbutton" onclick="parent.location='/dvd/delete/{{ movie.id }}'">löschen</button>

        </div>
        <br>
        {% endfor %}
        </div>


        <button class="addbutton position-relative d-flex align-items-center me-3 py-2 px-4" onclick="parent.location='/dvd'">Film Hinzufügen</button>
        

        
    </main>


    
</body>
</html>